.card {
    background: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(6px);
    padding: 1.8rem;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: .25s ease;
}

.card:hover {
    transform: rotate(0deg) translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}


.inicial {
    border: 2px solid #c4a86f;
}

.destino {
    border: 2px solid #6fa8dc;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 0.4rem;
}

.card p {
    color: #000;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .card {
        padding: 1.4rem;
        max-width: 90%;
    }

    .card h3 {
        font-size: 1.2rem;
    }

    .card p {
        font-size: .95rem;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 1.2rem;
        max-width: 100%;
    }

    .card img {
        border-radius: 10px;
    }
}