.title {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin: 40px 0 20px;
    color: #004aad;
    -webkit-text-stroke: 0.2px black ;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.5rem;
        margin: 30px 0 15px;
    }
}